<nav>
  <%= link_to 'Delete', song_history_song_version_path(@song_history, @song_version), method: :delete, id: 'del-sv' %>
</nav>

<ol>
  <li><%= @song_version.name %></li>
  <li><%= @song_version.song %></li>
</ol>
