<nav>
  <%= @song_history.proto_name %> |
  <%= link_to 'new!', new_song_history_song_version_path(@song_history.id), id: 'new-sv' %>
</nav>

<ol>
  <% @song_versions.each do |s| %>
    <li>
      <%= link_to s.name,
        song_history_song_version_path(@song_history.id, s.id),
        id: "version-#{s.song_history_id}-#{s.id}-"
      %>
    </li>
  <% end %>
</ol>



